:root {
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 62px;
    --border: 1px solid #eee;
    --box-shadow-bottom: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
    --border-radius: 8px;
    --speed: 500ms;
    --font-primary-regular: 'JosefinSans-Regular';
    //COLORS
    --dominant-color: #39159d71;
    --purple: #9B89B3;
    --lightgrey: #f9f9f9;
    --lightyellow: #FFFADE;
}